<div class="row">
	<div *ngFor="let c of customers" class="col-md-6 col-lg-4">
		<mdb-card>
			<mdb-card-body>
				<mdb-card-title>
					<h2>{{c.id}}: {{c.firstName}} {{c.lastName}}</h2>
				</mdb-card-title>
				<mdb-card-text>
					<div class="row">
						<div class="col-6">id</div>
						<div class="col-6">{{c.id}}</div>
						<div class="col-6">first name</div>
						<div class="col-6">{{c.firstName}}</div>
						<div class="col-6">last name</div>
						<div class="col-6">{{c.lastName}}</div>
						<div class="col-6">street</div>
						<div class="col-6">{{c.street}}</div>
						<div class="col-6">zipcode</div>
						<div class="col-6">{{c.zipcode}}</div>
						<div class="col-6">city</div>
						<div class="col-6">{{c.city}}</div>
					</div>
				</mdb-card-text>
				<button routerLink="/customer/{{c.id}}" type="button" class="btn btn-secondary">Edit</button>
			</mdb-card-body>
		</mdb-card>
	</div>
</div>